#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// NEED TO UPDATE THIS
// ------------------------------------------------------------------------------------------
// |  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |   BKSP   |
// | TAB  |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |   "|"   |
// | CAPS  |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER    |
// |  SHIFT  |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  SHIFT(/)  |  ^  | DEL |
// |  CTL  |  WIN  |  ALT  |            SPACE               | ALT | MO(1) |  <- |  v  | ->  |
// ------------------------------------------------------------------------------------------
			bindings = <
	&kp ESC  &kp F1   &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp  F8   &kp  F9   &kp F10  &kp F11   &kp F12   &mo 1  &kp DEL
	&kp GRAVE  &kp N1   &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp  N8   &kp  N9   &kp  N0  &kp MINUS &kp EQUAL &kp BSPC        &kp HOME
	&kp TAB    &kp Q   &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp  I    &kp  O    &kp  P   &kp LBKT  &kp RBKT  &kp NON_US_HASH &kp PG_UP
	&kp CLCK   &kp A    &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp  K    &kp  L    &kp SEMI &kp SQT             &kp RET         &kp PG_DN
	&kp LSHFT  &kp BSLH &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp  M    &kp COMMA &kp DOT  &kp FSLH  &kp RSHFT &kp  UP         &kp END
	&kp LCTRL  &kp LALT                             &kp SPACE            &kp RIGHT    &kp RALT &kp RCTRL &kp LEFT  &kp DOWN        &kp RIGHT
			>;
		};

				lower_layer {
// NEED TO UPDATE THIS
// ------------------------------------------------------------------------------------------
// |  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |   BKSP   |
// | TAB  |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |   "|"   |
// | CAPS  |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER    |
// |  SHIFT  |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  SHIFT(/)  |  ^  | DEL |
// |  CTL  |  WIN  |  ALT  |            SPACE               | ALT | MO(1) |  <- |  v  | ->  |
// ------------------------------------------------------------------------------------------
			bindings = <
	&out OUT_BLE  &out OUT_USB   &bt BT_NXT &bt BT_CLR &kp F4 &kp F5 &kp F6 &kp F7 &kp  F8   &kp  F9   &kp F10  &tog 0   &tog 2   &trans &bootloader
	&kp GRAVE  &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2 &kp N4 &kp N5 &kp N6 &kp N7 &kp  N8   &kp  N9   &kp  N0  &kp MINUS &kp EQUAL &kp BSPC        &reset
	&kp TAB    &kp Q   &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp  I    &kp  O    &kp  P   &kp LBKT  &kp RBKT  &kp NON_US_HASH &kp PG_UP
	&kp CLCK   &kp A    &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp  K    &kp  L    &kp SEMI &kp SQT             &kp RET         &kp PG_DN
	&kp LSHFT  &kp BSLH &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp  M    &kp COMMA &kp DOT  &kp FSLH  &kp RSHFT &kp  UP         &kp END
	&kp LCTRL  &kp LALT                             &kp SPACE       &kp RIGHT &kp RALT &kp RCTRL &kp LEFT  &kp DOWN        &kp RIGHT
			>;
		};
		mac_layer {
// NEED TO UPDATE THIS
// ------------------------------------------------------------------------------------------
// |  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |   BKSP   |
// | TAB  |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |   "|"   |
// | CAPS  |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER    |
// |  SHIFT  |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  SHIFT(/)  |  ^  | DEL |
// |  CTL  |  WIN  |  ALT  |            SPACE               | ALT | MO(1) |  <- |  v  | ->  |
// ------------------------------------------------------------------------------------------
			bindings = <
	&kp ESC  &kp F1   &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp  F8   &kp  F9   &kp F10  &kp F11   &kp F12   &tog 0  &kp DEL
	&kp GRAVE  &kp N1   &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp  N8   &kp  N9   &kp  N0  &kp MINUS &kp EQUAL &kp BSPC        &kp HOME
	&kp TAB    &kp Q   &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp  I    &kp  O    &kp  P   &kp LBKT  &kp RBKT  &kp NON_US_HASH &kp PG_UP
	&kp CLCK   &kp A    &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp  K    &kp  L    &kp SEMI &kp SQT             &kp RET         &kp PG_DN
	&kp LSHFT  &kp BSLH &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp  M    &kp COMMA &kp DOT  &kp FSLH  &kp RSHFT &kp  UP         &kp END
	&kp LGUI   &kp LALT                             &kp SPACE            &kp RIGHT    &kp RALT &kp RCTRL &kp LEFT  &kp DOWN        &kp RIGHT
			>;
		};
	};
};
